#root {
  background: black;
}

.App {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  width: 100%;
  color: white;
}

input {
  font-family: "IBM Plex Mono", monospace;
}

.title {
  margin-top: 0px;
  padding-top: 30px;
}

main {
}

.classifier {
  display: flex;
  border: 1px solid white;
  width: 600px;
  height: 450px;
  max-height: 500px;
  margin: auto;
}

.upload {
  justify-content: center;
  text-align: left;
  padding: 10px;
}

.results {
  text-align: left;
  min-width: 200px;
  padding: 10px;
  border-left: 1px solid white;
}

.label {
  font-weight: 800;
}

.display-image {
  padding-top: 10px;
}

.examples {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 600px;
}

.example {
  width: 100px;
  height: 100px;
}

.example > img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
